﻿body 
{
	font-family:Arial;
	font-size:12pt;
	color:#ffffff;
	margin:0px;
	padding:0px;
	background:#000000;
}
.a
{
	font-family:Arial;
	font-size:12pt;
	color:#ffffff;
	margin:0px;
	padding:0px;
	background:#000000;
}
	
.panel
{
	width:1024px;
	height:768px;
	border-color:#000000;
	background:#000000 url(../images/about_bg.png) no-repeat right top;
	
}
.panel_decor
{
	width:1024px;
	height:768px;
	background:#000000 url(../images/decor_bg.png) no-repeat right top;
}
.panel_carved
{
	width:1024px;
	height:768px;
	background:#000000 url(../images/carved_bg.png) no-repeat right top;
}
.panel_art
{
	width:1024px;
	height:768px;
	background:#000000 url(../images/art_bg.png) no-repeat right top;
}
.panel_light
{
	width:1024px;
	height:768px;
	background:#000000 url(../images/light_bg.png) no-repeat right top;
}
.panel_contact
{
	width:1024px;
	height:768px;
	background:#000000 url(../images/contact_bg.png) no-repeat right top;
}
.panel_index
{
	width:1024px;
	height:350px;
	border:none;
}

.facebook
{
	height:40px;
	padding:10px 40px 0px 0px;
}
.top_header
{
	height:618px;
	padding:0px 0px 0px 80px;
}
.bottom_footer
{
	height:100px;
	padding:0px 0px 0px 60px;
	vertical-align:top;
}
.footer_align
{
	padding-left:18px;
	padding-top:5px;
}

.header td
{
	vertical-align:bottom;
}

.fb_link a
{
	color:#bcbdc0; 
	text-decoration:none;
	font-family:Arial;
	font-size:8.5pt;
}	
.content
{
}
.content_header
{
	vertical-align:top;
	padding:55px 0px 0px 0px;
}

.collection
{
	padding-left:70px;
}

.title
{
	font-size:36pt;
	font-family:Arial;
}
.smalltext
{
	font-size:8.5pt;
	/*color:#666666; */
	color:#ffffff;
}
.subcontent
{
	width:390px;
	line-height:15px;
	font-size:8pt;
	font-family:Arial;
	color:#ffffff;
}
.subsubcontent
{
	width:570px;
	line-height:15px;
}
.subsubcontent td
{
	padding:0px 10px 0px 0px;
	text-align:left;
	vertical-align:top;
}

.view
{
	color:#bcbdc0;
	text-decoration:none;
}
.view:hover
{
	color:#ffffff;
	text-decoration:underline;
}
.view2{
	color:#000000;
	text-decoration:none;
	border: 0px;
}

.footer
{
 	width:97%;
	color:#e6e7e8;

}



.about_bg
{
	background:url(../images/about_bg.jpg) no-repeat right top;
}

.decor_bg
{
	background:url(../images/decor_bg.jpg) no-repeat right top;
}
.carved_bg
{
	background:url(../images/carved_bg.jpg) no-repeat right top;
}
a
{
	outline:none;
}
.carved_last
{
	font-size:8.5pt;
	color:#666666; 
	width:450px;
}







.carved_margin
{
	margin-top:39.5%;
}

/* ie7 */
*+html .carved_margin
{
	margin-top:52.4%;
}

/*ie8*/
.carved_margin
{
	margin-top:46.7%\0/;
}


.art_margin
{
	margin-top:40.4%;
}

/* ie7 */
*+html .art_margin
{
	margin-top:46.7%;
}

/*ie8*/
.art_margin
{
	margin-top:46.7%\0/;
}



.lite_margin
{
	/*margin-top:40.4%;*/
}

/* ie7 */
*+html .lite_margin
{
	/*margin-top:46.7%;*/
}

/*ie8*/
.lite_margin
{
	/*margin-top:46.7%\0/;*/
}

.about_margin
{
	/*margin-top:25.5%;*/
}

/* ie7 */
*+html .about_margin
{
	/*margin-top:25.5%;*/
}

/*ie8*/
.about_margin
{
	/*margin-top:25.4%\0/;*/
}


.contact_margin
{
	margin-top:43%;
}

/* ie7 */
*+html .contact_margin
{
	margin-top:48.6%;
}

/*ie8*/
.contact_margin
{
	margin-top:48.6%\0/;
}




